[submodule "apps/envoy"]
	path = apps/envoy
	url = git@github.com:racker/salus-telemetry-envoy.git
[submodule "apps/auth-service"]
	path = apps/auth-service
	url = git@github.com:racker/salus-telemetry-auth-service.git
[submodule "apps/salus-app-base"]
	path = apps/salus-app-base
	url = git@github.com:racker/salus-app-base.git
[submodule "libs/model"]
	path = libs/model
	url = git@github.com:racker/salus-telemetry-model.git
[submodule "apps/ambassador"]
	path = apps/ambassador
	url = git@github.com:racker/salus-telemetry-ambassador.git
[submodule "apps/api"]
	path = apps/api
	url = git@github.com:racker/salus-telemetry-api.git
[submodule "libs/common"]
	path = libs/common
	url = git@github.com:racker/salus-common.git
[submodule "libs/etcd-adapter"]
	path = libs/etcd-adapter
	url = git@github.com:racker/salus-telemetry-etcd-adapter.git
[submodule "presence-monitor"]
	path = apps/presence-monitor
	url = git@github.com:racker/salus-telemetry-presence-monitor.git
[submodule "libs/protocol"]
	path = libs/protocol
	url = git@github.com:racker/salus-telemetry-protocol.git
[submodule "apps/resource-management"]
	path = apps/resource-management
	url = git@github.com:racker/salus-telemetry-resource-management.git
[submodule "apps/monitor-management"]
	path = apps/monitor-management
	url = git@github.com:racker/salus-telemetry-monitor-management.git
[submodule "apps/event-engine-ingest"]
	path = apps/event-engine-ingest
	url = git@github.com:racker/salus-event-engine-ingest.git
[submodule "apps/event-engine-management"]
	path = apps/event-engine-management
	url = git@github.com:racker/salus-event-engine-management.git
[submodule "libs/event-engine-common"]
	path = libs/event-engine-common
	url = git@github.com:racker/salus-event-engine-common.git
[submodule "apps/zone-watcher"]
	path = apps/zone-watcher
	url = git@github.com:racker/salus-telemetry-zone-watcher.git
[submodule "tools"]
	path = tools
	url = git@github.com:racker/salus-tools.git
[submodule "libs/test"]
	path = libs/test
	url = git@github.com:racker/salus-test.git
[submodule "docs"]
	path = docs
	url = git@github.com:racker/salus-docs.git
[submodule "apps/agent-catalog-management"]
	path = apps/agent-catalog-management
	url = git@github.com:racker/salus-telemetry-agent-catalog-management.git
[submodule "apps/policy-management"]
	path = apps/policy-management
	url = git@github.com:racker/salus-policy-management.git
[submodule "apps/oracle-agent"]
	path = apps/oracle-agent
	url = https://github.com/racker/salus-oracle-agent
[submodule "apps/packages-agent"]
	path = apps/packages-agent
	url = https://github.com/racker/salus-packages-agent.git
[submodule "config/data-loader-content"]
	path = config/data-loader-content
	url = https://github.com/Rackspace-Segment-Support/salus-data-loader-content.git
[submodule "apps/event-handler"]
	path = apps/event-handler
	url = git@github.com:racker/salus-event-handler.git
[submodule "apps/event-engine-processor"]
	path = apps/event-engine-processor
	url = git@github.com:racker/salus-event-engine-processor.git
