[submodule "apps/envoy"]
	path = apps/envoy
	url = git@github.com:racker/salus-telemetry-envoy.git
[submodule "apps/auth-service"]
	path = apps/auth-service
	url = git@github.com:racker/salus-telemetry-auth-service.git
[submodule "apps/salus-app-base"]
	path = apps/salus-app-base
	url = git@github.com:racker/salus-app-base.git
[submodule "libs/model"]
	path = libs/model
	url = git@github.com:racker/salus-telemetry-model.git
[submodule "apps/ambassador"]
	path = apps/ambassador
	url = git@github.com:racker/salus-telemetry-ambassador.git
[submodule "apps/api"]
	path = apps/api
	url = git@github.com:racker/salus-telemetry-api.git
[submodule "libs/common"]
	path = libs/common
	url = git@github.com:racker/salus-common.git
[submodule "libs/etcd-adapter"]
	path = libs/etcd-adapter
	url = git@github.com:racker/salus-telemetry-etcd-adapater.git
